.main-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: var(--color-bg);
}

.main-content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;
}
