.main-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.main-content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background-color: #a5e1ad;
	overflow-y: hidden;
}
